.chat-container {
    background-color: #4b3832; /* Coffee */
    color: #fffdd0; /* Cream */
}

.header {
    background-color: #d6d5d0; /* Light Cream */
    color: #4b3832; /* Coffee */
}

.bot-message {
    background-color: #fffdd0; /* Cream */
    color: #4b3832; /* Coffee */
    border-radius: 10px;
    padding: 10px;
    margin: 8px 0;
}

.user-message {
    background-color: #f5f5dc; /* Lighter Cream */
    color: #4b3832; /* Coffee */
    border-radius: 10px;
    padding: 10px;
    margin: 8px 0;
}

input[type="text"] {
    background-color: #fffdd0; /* Cream */
    border: 1px solid #4b3832; /* Coffee */
    color: #4b3832; /* Coffee text */
    padding: 8px;
    border-radius: 20px;
    width: 85%;
}

.send-button {
    background-color: #4b3832; /* Coffee */
    color: #fffdd0; /* Cream */
    border-radius: 20px;
    width: 10%;
    border: none;
    cursor: pointer;
}

.avatar-bot, .avatar-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fffdd0; /* Cream */
    color: #4b3832; /* Coffee */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
}

.avatar-user {
    background-color: #f5f5dc; /* Lighter Cream */
}

.chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4b3832; /* Coffee */
}
